<vg-player>
    <% if (vgOverlayPlay) { %>
    <vg-overlay-play></vg-overlay-play>
    <% } %>
    <% if (vgBuffering) { %>
    <vg-buffering></vg-buffering>
    <% } %>
    <% if (vgScrubBar) { %>
    <vg-scrub-bar [vgSlider]="true">
        <% if (vgScrubBarCurrentTime) { %>
        <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        <% } %>
        <% if (vgScrubBarBufferingTime) { %>
        <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        <% } %>
    </vg-scrub-bar>
    <% } %>
    <% if (vgControls) { %>
    <vg-controls>
        <% if (vgPlayPause) { %>
        <vg-play-pause></vg-play-pause>
        <% } %>
        <% if (vgPlaybackButton) { %>
        <vg-playback-button></vg-playback-button>
        <% } %>
        <% if (vgTimeDisplayCurrent) { %>
        <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
        <% } %>
        <% if (vgScrubBarControls) { %>
        <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
        <% } %>
        <% if (vgTimeDisplayLeft) { %>
        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
        <% } %>
        <% if (vgTimeDisplayTotal) { %>
        <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
        <% } %>
        <% if (vgTrackSelector) { %>
        <vg-track-selector></vg-track-selector>
        <% } %>
        <% if (vgMute) { %>
        <vg-mute></vg-mute>
        <% } %>
        <% if (vgVolume) { %>
        <vg-volume></vg-volume>
        <% } %>
        <% if (vgFullscreen) { %>
        <vg-fullscreen></vg-fullscreen>
        <% } %>
    </vg-controls>
    <% } %>
    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin
    <% if (!vgControls) { %>
        controls
    <% } %>
    >
        <source *ngFor="let video of sources" [src]="video.src" [type]="video.type">
    </video>
</vg-player>
<% if (skip) { %>
<div class='skip-button'>skip ad</div>
<% } %>
<% if (companionAd) { %>
<div id="companion-ad"></div>
<% } %>